<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients</title>

</head>
<body ng-app="directoryApp" ng-controller="clientsCtrl">
<!--this is the top navigation bar-->
<!--links href need to be filled in-->
    <div class="input-group col-sm fixed-top" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topBar">
        <!--this image needs to be changed to the real logo-->
        <div class="container">
            <a class="navbar-brand">
                <img src="images/dummylogo.jpg"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                Home
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                Classes
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                About
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                Media
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                Parents
                            </a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn menu-button">
                            <a class="nav-link">
                                <div>
                                    <image src="images/m'pengu dab.png"/>
                                </div>
                                Payments
                            </a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--this is the list of clients-->
    <div class="container">
        <ul style="list-style-type: none">
            <!--need to be able to pull the number of clients to input into list function-->
            <li ng-repeat="n in list(50)">
                <div>
                    <!--this needs to pull the information of the current client and display it.-->
                    <!--the name of the client should be a link to the clients information page.-->
                    <image src="images/m'pengu dab.png"/>
                </div>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="row page-bottom align-items-center">
            <div class="col-md text-center footer-info">
                <p>contact email:</br>
                    example@email.com</p>
            </div>
            <div class="col-md text-center footer-info">
                <p>phone number:</br>
                    305-867-5309</p>
            </div>

        </div>
    </footer>
    <footer class="copyright text-center">
        copyright and trademark
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/clientsController.js"></script>

</body>
</html>