<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients</title>

</head>
<body ng-app="directoryApp" ng-controller="clientsCtrl">
<!--this is the top navigation bar-->
<!--links href need to be filled in-->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topBar">
        <div class="container">
            <a class="navbar-brand">
<!--            -change to the real logo-->
                <img src="images/dummylogo.jpg"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Classes.html">Classes</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/FAQ.html">About</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/About.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link">      </a>
                    </li>
<!-- Login + Needs To Hide if Already logged in-->
                    <li class="nav-item">
                        <button type="button" href="/Login.html" class="btn btn-primary btn-sm">Login / Register</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--TEMPLATE TOP-->





<!--REGISTER TEMPLATE-->
<div class="d-flex justify-content-center px-1">
  <img src="images/icon-register.jpg" class=" d-block"></img>
</div>
<div class="d-flex justify-content-center px-1 k">
  <h2>Register A New Account</h2>
</div>


<div class="d-none d-md-bloc">   <h2>Hi</h2>
</div>

<!--WE HAVE TO CREATE BORDER LIKE ON WIREFRAME THAT CHANGES -->
<div class='container alt-container bg-secondary hidden-md-down'>
  <h3> Account Information </h3>
	<form ng-submit="register(email, password, firstName, lastName, streetAddress, city, state, zip, phone)" class='w-50 mx-auto p-3'>

		<div class="form-group">
			<label>Email Address</label>
			<input class="form-control" type="text" ng-model="email">
		</div>

		<div class="form-group">
			<label>Password</label>
			<input class="form-control" type="password" ng-model="password">
		</div>

    <div class="form-group flex-wrap">
			<label>Password</label>
			<input class="form-control" type="password" ng-model="password">
		</div>

  <h3> Parent Contact Information </h3>

		<div class="form-group">
			<label>Parent First Name</label>
			<input class="form-control" type="text" ng-model="firstName">
		</div>

		<div class="form-group flex-wrap">
			<label>Parent Last Name</label>
			<input class="form-control" type="text" ng-model="lastName">
		</div>

		<div class="form-group">
			<label>Street Address</label>
			<input class="form-control" type="text" ng-model="streetAddress">
		</div>

		<div class="form-group">
			<label>City</label>
			<input class="form-control" type="text" ng-model="city">
		</div>

		<div class="form-group flex-wrap">
			<label>State</label>
			<input class="form-control" type="text" ng-model="state">
		</div>

		<div class="form-group flex-wrap">
			<label>Zip Code</label>
			<input class="form-control" type="text" ng-model="zip">
		</div>

		<div class="form-group">
			<label>Phone Number</label>
			<input class="form-control" type="text" ng-model="phone">
		</div>

    <i>Please do not forgot to add your children on the account page</i>

		<input class="btn btn-success btn-lg btn-block" type="submit" value="Register New Account">
	</form>
</div>


</div>































<!--TEMPLATE BOTTOM-->
<!-- Contact Area-->
    <footer class="footer">
        <div class="row page-bottom align-items-center">
          <div class="col-md-4 text-center footer-info">
              <h5>Please Contact Dawn Directly At:</h5>
          </div>
            <div class="col-md-4 text-center footer-info">
              <div class="col-md-4 px-0">
<!-- ++NEED ICON FILES for PHONE + EMAIL -->
                      <img src="images/icon-email.jpg" class="img-fluid">
                  </div>
                <h5>dancewithdawn@gmail.com</h5>
            </div>
            <div class="col-md text-center footer-info">
                <div class="col-md-4 px-0">
                    <img src="images/icon-email.jpg" class="img-fluid">
                </div>
                    <h5>352-225-8960</h5>
            </div>
        </div>
    </footer>


    <footer class="copyright text-center">
        Copyright © 2019 Dance With Dance. All Rights Reserved.
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/clientsController.js"></script>

</body>
</html>
