<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients</title>

</head>
<body ng-app="directoryApp" ng-controller="clientsCtrl">
<!--this is the top navigation bar-->
<!--links href need to be filled in-->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topBar">
        <div class="container">
            <a class="navbar-brand">
<!--            -change to the real logo-->
                <img src="images/dummylogo.jpg"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Classes.html">Classes</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/FAQ.html">About</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/About.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link">      </a>
                    </li>
<!-- Login + Needs To Hide if Already logged in-->
                    <li class="nav-item">
                        <button type="button" href="/Login.html" class="btn btn-primary btn-sm">Login / Register</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--TEMPLATE TOP-->





<!--Reset TEMPLATE-->
<div class="container">
  <img src="images/icon-register.jpg" class="mx-auto d-block"></img>
  <h2>Register A New Account</h2>
</div>

<!-- ......Input Submissions-->
<div class="container">
	<form ng-submit="login(username, password)">
      <!--REPLACE ACCOUNT IMAGE-->
      <img src="images/icon-forgotpassword.jpg" class="mx-auto d-block"></img>
			<label>Username</label>
			<input class="form-control" type="text" ng-model="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" type="password" ng-model="password">
		</div>
		<input class="btn btn-success btn-lg btn-block" type="submit" value="Login">
	</form>
</div>



<div class="container">
<div class="row">
  <div class="col-md-6">
    <!--REPLACE IMAGE-->
    <img src="images/icon-register.jpg" class="mx-auto d-block"></img>
    <h3>Don't Have An Account?</h3>
    <button type="button" href="/Login.html" class="btn btn-secondary btn-sm">Register</button>
  </div>
  <div class="col-md-6">
    <!--REPLACE REGISTER IMAGE-->
    <img src="images/icon-reset.jpg" class="mx-auto d-block"></img>
    <h3>Forgot Your Password?</h3>
    <button type="button" href="/Reset.html" class="btn btn-secondary btn-sm">Reset</button>
  </div>
</div>
</div>




























<!--TEMPLATE BOTTOM-->
<!-- Contact Area-->
    <footer class="footer">
        <div class="row page-bottom align-items-center">
          <div class="col-md-4 text-center footer-info">
              <h5>Please Contact Dawn Directly At:</h5>
          </div>
            <div class="col-md-4 text-center footer-info">
              <div class="col-md-4 px-0">
<!-- ++NEED ICON FILES for PHONE + EMAIL -->
                      <img src="images/icon-email.jpg" class="img-fluid">
                  </div>
                <h5>dancewithdawn@gmail.com</h5>
            </div>
            <div class="col-md text-center footer-info">
                <div class="col-md-4 px-0">
                    <img src="images/icon-email.jpg" class="img-fluid">
                </div>
                    <h5>352-225-8960</h5>
            </div>
        </div>
    </footer>


    <footer class="copyright text-center">
        Copyright © 2019 Dance With Dance. All Rights Reserved.
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/clientsController.js"></script>

</body>
</html>
