
/* Template CSS - Anything Related to main Template is Here*/

html {
    position: relative;
    min-height: 100%;

}
body {
    /*actual measurement should be the top margin of searchBar and the height of the search bar*/
    /*90+38*/
    /*margin bottom needs to be height of footer*/
    /*48+48 (for mobile stacking)*/

    padding-top: 128px;
    margin-bottom: 148px;
}

#topBar {
    background-color: Black;
    display: block;
    width: 100% !important;
}

#topBarWrap{
    overflow: auto;
}

#logo {
  align-content: left;
}


.nav-link{
    color: White !important;
}

.menu-button{
    height: 54px;
}

.nav {margin-bottom: 0;}

.register-form {
  background-color: grey;
}

.footer{
    position: fixed;
    padding-top: 4px;
    padding-bottom: 2px;
    bottom: 22px;
    width: 100%;
    /*height: $height-bottom;*/
    background-color: black;
    color: white;
    text-align: center;
}

.copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 2px;
    background-color: white;
        font-size: 12pt;
        color: black;
}

.alt-container{ /* This is used with inside Grey Boxes */
  background-color: grey;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* ADMIN Template */



/* USER Template */






/* Static Pages */
/* Anything classes related to Static Content Place Here */
