body {
    /*actual measurement should be the top margin of searchBar and the height of the search bar*/
    /*90+38*/
    padding-top: 128px;
}

#topBar {
    background-color: Black;
    display: block;

}

#topBarWrap{
    overflow: auto;
}

#searchBar{
    margin-top: 90px;
}

.nav-link{
    color: White !important;
}

.menu-button{
    height: 54px;
}