<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clients</title>
</head>
<body ng-app="directoryApp" ng-controller="clientsCtrl">

<!--this is the top navigation bar-->
<!--Still Need to Redesign this to fit areas better-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="topBar">
    <div class="container">
        <a class="navbar-brand align-items-start">
            <img src="../images/logo.JPG"></img>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="../Classes.html">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../FAQ.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../About.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">      </a>
                </li>
                <li class="nav-item">
                    <button type="button" href="../Login.html" class="btn btn-primary btn-sm">Login / Register</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-if='currentUser' class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light">Welcome, {{currentUser.firstName}}!</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-0 text-light" href="useraccount.html">View Account Page</a>
        <a class="p-0 text-light"> | </a>
        <a class="p-0 text-light" ng-click='logout()' ng-show="currentUser" href="../Home.html">Sign Out</a>
    </nav>
</div>
<!--TEMPLATE BOTTOM-->







<!--USER NAVIGATION START-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">Classes
        </div>
        <div class="col-md">Photos
        </div>
        <div class="col-md">Forms
        </div>
        <div class="col-md">Payment
        </div>
        <div class="col-md-2">Account
        </div>
    </div>
</div>





<!--USER NAVIGATION END-->

<div class="contentBox row">
    <div class="col-md-2 VdividingLine d-none d-md-flex">
<!--        this needs to be in a loop for each child-->
<!--        June Doe needs to be replaced with the child's name from the DB-->
        <p><b>June Doe's current enrollments</b></p>
    </div>
    <div class="col HdividingLine d-md-none">
        <p><b>June Doe's current enrollments</b></p>
    </div>
<!--    all this info needs to come from the child's enrolled classes-->
    <div class="col-md-10">
        <div class="col-md-9">
            <p><b>Class Name</b></p> <p>Preschool XYZ</p>
        </div>
        <div class="col-md-9">
            <p><b>Location</b></p> <p>Preschool st, Gainesville, FL 23423</p>
        </div>
        <div class="col-md-9 row">
            <div class="col-md-4">
                <p><b>Days</b></p> <p>Monday, Wednesday</p>
            </div>
            <div class="col-md-4">
                <p><b>Time</b></p> <p>9:00AM - 10:00AM</p>
            </div>
        </div>
        </div>

    <div class="Hspacer"></div>


</div>




















<!--TEMPLATE BOTTOM-->
<footer class="footer">
    <div class="row page-bottom align-items-center">
        <div class="col-md-4 p-2 footer-info">
            <h5>Please Contact Dawn Directly At:</h5>
        </div>
        <div class="col-md-1 p-2 footer-info">
            <img src="../images/icon-email.jpg" class="img-fluid">
        </div>
        <div class="col-md-3 p-2 footer-info">
            <!--////This Text Needs to be wrapped-->
            <h5>dancewithdawn@gmail.com</h5>
        </div>
        <div class="col-md-1 p-2 footer-info">
            <img src="../images/icon-phone.jpg" class="img-fluid">
        </div>
        <div class="col-md-3 p-2 footer-info">
            <h5>(352)-225-8960</h5>
        </div>
    </div>
    <div class="row copyright justify-content-center">
        <a>Dance With Dance. © 2019</a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../node_modules/angular/angular.js"></script>
<script src="../js/app.js"></script>
<script src="../js/clientsController.js"></script>
</body>
</html>
