<ng-include src="'admin/admin-navigation.html'"></ng-include>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Update Class</h1>
</div>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$(function() {-->
        <!--// choose target dropdown-->
        <!--var select = $('select');-->
        <!--select.html(select.find('option').sort(function(x, y) {-->
            <!--// to change to descending order switch "<" for ">"-->
            <!--return $(x).text() > $(y).text() ? 1 : -1;-->
        <!--}));-->

        <!--// select default item after sorting (first item)-->
        <!--// $('select').get(0).selectedIndex = 0;-->
    <!--});-->
<!--</script>-->

<div class="container" ng-if="currentAdmin">

    <form ng-submit="updateClass(currentAdmin.classToUpdate)" class='col-md-9 mx-auto px-5 py-3 user-form'>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Title</label>
                <inconfig.token class="form-control" type="text" ng-model="currentAdmin.classToUpdate.title">
            </div>

            <div class="form-group col-md-6">
                <label>Description</label>
                <textarea rows="4" class="form-control" type="text" ng-model="currentAdmin.classToUpdate.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Time</label>
            <input class="form-control" type="time" ng-model="currentAdmin.classToUpdate.time">
        </div>

        <div class="form-group">
            <label>Days: </label>
            <input class="form-control" type="text" ng-model="currentAdmin.classToUpdate.days">
        </div>

        <div class="form-group">
            <label>Photo album: </label>
            <input class="form-control" type="text" ng-model="currentAdmin.classToUpdate.album">
        </div>

        <div class="form-group">
            <label>Children to enroll: </label>
                <div class="well row">
                    <div class="col-sm-6">{{childrenToEnroll}}</div>
                        <select class="chosen-select form-control col-sm-3"
                                data-placeholder="Begin typing a name to filter..."
                                ng-model="childrenToEnroll" chosen multiple>
                            <option ng-repeat="child in children | orderBy:'fullName'" value="{{child._id}}">{{child.fullName}}</option>
                        </select>
                        <!--<input class="btn btn-success btn-lg" type="button" value="Add" ng-click="addToClass(currentAdmin.classToUpdate._id, childrenToEnroll)">-->
                    </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label>Current roster: </label>-->
            <!--<div class="well row">-->
                <!--<div class="col-sm-6">{{childrenToRemove}}</div>-->
                <!--<select class="chosen-select form-control col-sm-3"-->
                        <!--data-placeholder="Begin typing a name to filter..."-->
                        <!--ng-model="childrenToRemove" chosen multiple>-->
                    <!--<option ng-repeat="student in students | orderBy:'fullName'" value="{{student._id}}">{{student.fullName}}</option>-->
                <!--</select>-->
                <!--<input class="btn btn-danger btn-lg btn-block text-white" type="button" value="Remove" ng-click="removeFromClass(childrenToRemove)">-->
            <!--</div>-->
        <!--</div>-->
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Update Class">
    </form>

    <div class='container col-md-6 my-5 mx-auto'>
        <a class="btn btn-danger btn-lg btn-block text-white" ng-click="deleteClass(currentAdmin.classToUpdate)" href="">Delete Class</a>
    </div>
</div>