<ng-include src="'admin/admin-navigation.html'"></ng-include>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Update Class</h1>
</div>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$(function() {-->
        <!--// choose target dropdown-->
        <!--var select = $('select');-->
        <!--select.html(select.find('option').sort(function(x, y) {-->
            <!--// to change to descending order switch "<" for ">"-->
            <!--return $(x).text() > $(y).text() ? 1 : -1;-->
        <!--}));-->

        <!--// select default item after sorting (first item)-->
        <!--// $('select').get(0).selectedIndex = 0;-->
    <!--});-->
<!--</script>-->

<div class="container" ng-if="currentAdmin">

    <form ng-submit="updateClass(currentAdmin.classToUpdate)" class='col-md-9 mx-auto px-5 py-3 user-form'>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Title</label>
                <input class="form-control" type="text" ng-model="currentAdmin.classToUpdate.title">
            </div>

            <div class="form-group col-md-6">
                <label>Description</label>
                <textarea rows="4" class="form-control" type="text" ng-model="currentAdmin.classToUpdate.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Time</label>
            <input class="form-control" type="time" ng-model="currentAdmin.classToUpdate.time">
        </div>

        <div class="form-group">
            <label>Days: </label>
            <input class="form-control" type="text" ng-model="currentAdmin.classToUpdate.days">
        </div>

        <div class="form-group">
            <label>Photo album: </label>
            <input class="form-control" type="text" ng-model="currentAdmin.classToUpdate.album">
        </div>

        <div class="form-group">
            <label>Children to enroll: </label>
            <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search for names..." ng-model="query">
            </div>
            <div class="tableWrapper">
                <table class="table table-striped table-hover" id = "listingsTable">
                    <tr class = "header">
                        <th></th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="child in children | filter: query | orderBy:'fullName'">
                        <td>
                            <button type="button" class="btn btn-success btn-xs" ng-click="addToClass(currentAdmin.classToUpdate, child)" >
                  <span class="glyphicon glyphicon-plus" >
                    </span>
                            </button>
                        </td>
                        <td ng-model="_id">{{child.fullName}}</td>
                    </tr>
                    <!--<td ng-click="deleteListing(listing._id)"><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>-->
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label>Currently enrolled: </label>
            <div class="input-group" id="searchBar2">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search for names..." ng-model="query">
            </div>
            <div class="tableWrapper">
                <table class="table table-striped table-hover" id = "listingsTable2">
                    <tr class = "header">
                        <th></th>
                        <th>Name</th>
                    </tr>
                    <tr ng-repeat="student in currentAdmin.classToUpdate.children | filter: query | orderBy:'fullName'" ng-click="showDetails($index)">
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeFromClass($index)" >
                  <span class="glyphicon minus" >
                    </span>
                            </button>
                        </td>
                        <td ng-model="_id">{{student}}</td>
                    </tr>
                    <!--<td ng-click="deleteListing(listing._id)"><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>-->
                    </tr>
                </table>
            </div>
        </div>

<!--        <div><button type="button" class="btn btn-danger btn-lg" ng-click="removeAll(currentAdmin.classToUpdate)">remove all students</button></div>-->
        <!--<label>Current roster: </label>-->

        <!--<div class="input-group" >-->
            <!--<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" ></span></span>-->
            <!--<input type="text" class="form-control" placeholder="Search for names..."-->
                   <!--title="Type in a name" onkeyup="filterFunction()" id="searchBar">-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="tableWrapper" >-->
            <!--<table class="table table-striped table-hover" id = "listingsTable" >-->

                <!--<tr class = "header">-->
                    <!--<th>Status</th>-->
                    <!--<th></th>-->
                    <!--<th>Name</th>-->
                <!--</tr>-->
                <!--&lt;!&ndash;<label ng-repeat="child in children | orderBy:'fullName'">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox"&ndash;&gt;-->
                <!--&lt;!&ndash;checklist-model="currentAdmin.classToUpdate.children"&ndash;&gt;-->
                <!--&lt;!&ndash;checklist-value="child._id"> {{child.fullName}} {{childrenToEnroll}} {{child._id}}&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->

                <!--<div ng-repeat = "child in children | orderBy:'fullName'">-->
                    <!--<label for="chkCustomer_{{child._id}}">-->
                        <!--<input type="checkbox"-->
                               <!--ng-model ="currentAdmin.classToUpdate.children"-->
                               <!--id="chkCustomer_{{child._id}}"-->
                                <!--ng-value = {{child._id}}>-->
                        <!--{{child.fullName}}</label>-->
                <!--</div>-->
                <!--&lt;!&ndash;-->

                    <!--Fill in the rest of the table:-->
                        <!--* populate the rows with the code and name of each listing-->
                        <!--* include a way to remove individual listings-->

                  <!--&ndash;&gt;-->
            <!--</table>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label>Current roster: </label>-->
            <!--<div class="well row">-->
                <!--<div class="col-sm-6">{{childrenToRemove}}</div>-->
                <!--<select class="chosen-select form-control col-sm-3"-->
                        <!--data-placeholder="Begin typing a name to filter..."-->
                        <!--ng-model="childrenToRemove" chosen multiple>-->
                    <!--<option ng-repeat="student in students | orderBy:'fullName'" value="{{student._id}}">{{student.fullName}}</option>-->
                <!--</select>-->
                <!--<input class="btn btn-danger btn-lg btn-block text-white" type="button" value="Remove" ng-click="removeFromClass(childrenToRemove)">-->
            <!--</div>-->
        <!--</div>-->
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Update Class">
    </form>

    <div class='container col-md-6 my-5 mx-auto'>
        <a class="btn btn-danger btn-lg btn-block text-white" ng-click="deleteClass(currentAdmin.classToUpdate)" href="">Delete Class</a>
    </div>
</div>