<nav class="navbar navbar-dark navbar-expand-md dwd-dk-gray-bg">
  <div class="container">
      
    <a class="navbar-brand" href="#">
      <span class="font-coiny logo-1">DANCE</span>&nbsp;
      <span class="font-pacifico logo-2">with Dawn</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-md-3 mr-0">
          <a class="nav-link" href="/admin-account">Admin Account</a>
        </li>
        <li class="nav-item mr-md-3 mr-0">
          <a class="nav-link" href="/cm">Content Management</a>
        </li>
      </ul>
        
      <a class="btn btn-outline-light ml-sm-3 ml-0" href="/admin" ng-hide="currentAdmin">Log In</a>
      <button class="btn btn-outline-light ml-sm-3 ml-0" ng-click='logout()' ng-show="currentAdmin">Log Out</button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-dark navbar-expand-sm"> 
    <div ng-if="currentAdmin" class="collapse navbar-collapse text-center user-nav dwd-red-bg" id="navbar">
      <div class="container">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item mr-md-3 mr-0">
            <a class="nav-link" href="/admin-account">Account</a>
          </li>
          <li class="nav-item mr-md-3 mr-0">
            <a class="nav-link" href="/admin-classes">Classes</a>
          </li>
          <li class="nav-item mr-md-3 mr-0">
            <a class="nav-link" href="/admin-clients">Clients</a>
          </li>
          <li class="nav-item mr-md-3 mr-0">
            <a class="nav-link" href="/admin-payments">Payments</a>
          </li>
          <li class="nav-item mr-md-3 mr-0">
            <a class="nav-link" href="/admin-forms">Forms</a>
          </li>
        </ul>
      </div>
    </div>
</nav>