<div class="grey-bg">
	<div class="pt-3 mx-auto text-center">
		<div class="icon-bg-circle"><i class="fas fa-user user-icon"></i></div>
		<p class="user-page-headline">Admin Log In</p>
	</div>

	<div class='container'>
		<form ng-submit="login(username, password)" class='col col-md-6 mx-auto px-5 py-3 user-form' name='admin-login'>

			<div ng-show="loginError" class='alert alert-danger'>{{ errorMessage }}</div>

			<div class="form-group">
				<label class='mb-1'>Username</label>
				<input class="form-control" type="text" ng-model="username" required />
			</div>

			<div class="form-group">
				<label class='mb-1'>Password</label>
				<input class="form-control" type="password" ng-model="password" required />
			</div>
		
			<input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Login">
		</form>
	</div>

	<div class='container mt-5'>
			<div class='col-6 col-md-6 mx-auto text-center'>
				<div class="icon-bg-circle text-center mx-auto"><i class="fas fa-user-plus user-icon"></i></div>
				<p class='user-page-headline'>Create Admin Account</p>
				<a class="btn btn-outline-primary btn-block p-2 mt-2 w-50 mx-auto" href="/admin-register">Create Admin Account</a>
				<p class='text-center mt-3'>For testing purposes only! Don't forget to disable!<p>
			</div>
	</div>

</div>