<div class="dwd-orange-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="jumbotron" id="about-bg">
  
  <div class='jumbotron-text-bg mx-auto' id="jumbotron-about-text-bg">
    <p class='font-coiny about-line1'>ABOUT</p>
    <p class='font-pacifico about-line2'>Dawn</p>
  </div>

</div>

<!-- About Dawn Section -->
<div class="white-bg-row py-4">
  <div class="container">  

    <div class='row justify-content-center'>
      <p class='text-center col-sm-8 font-italic'>{{ about_page_desc }}</p>
    </div>

    <div class="row pt-2">
  
      <div class="col-md-5 align-self-center">
        <img src="./img/about-photo-1.jpg" class="img-fluid rounded mb-2" alt="Group Photo with Dawn">
      </div>

      <div class="col-md-7 pl-md-5">
        <p>{{ about_p1 }}</p>
        <p>{{ about_p2 }}</p>
        <p>{{ about_p3 }}</p>
      </div>

    </div>
  </div>
</div>

<!-- Testomonial -->
<div class="grey-bg-row">
  <div class="container">
    <div class="faq-divider"><i class="far fa-quote-left divider-icon dwd-lt-gray"></i></div>

    <div class="row text-center justify-content-center">
    	<p class='col-sm-10'>I started my lifelong career of dance at the age of 4 with Miss Dawn and now she teaches my own daughter. She instilled a deeply rooted passion and appreciation for the arts which led me to dance with professional companies and now teach dance as a college professor.</p>
    	<p class='text-center font-italic'>Jessica Mayhew-Borrero, MFA Florida School of the Arts</p>
  	</div>

    <div class="faq-divider"><i class="far fa-quote-right divider-icon dwd-lt-gray"></i></div>
  </div>
</div>

<div class="white-bg-row py-4">
  <div class="container">  

    <div class="row">
  
      <div class="col-md-7 pl-md-5">
        <p>{{ about_p4 }}</p>
        <p>{{ about_p5 }}</p>
        <p>{{ about_p6 }}</p>
      </div>

      <div class="col-md-5 align-self-center">
        <img src="./img/about-photo-2.jpg" class="img-fluid rounded mb-2" alt="Tiny Ballerinas">
      </div>

    </div>
  </div>
</div>

<div class="color-bg-row dwd-orange-bg pt-4">
  <div class="container text-center text-light">
    <h2>Free Demonstration Class</h2>
    <p>Contact me today to discuss how we can create a unique program specific for your school or group!</p>
    <form class="form-inline pb-4" action="">
      <div class='form-group my-3 mx-auto'>
        <input class="form-control" type="text" placeholder="Enter your email address">
        <button type="submit" class="btn btn-outline-light mt-2 mt-md-0 ml-0 ml-sm-2">Please send me information!</button>
      </div>
    </form>
  </div>
</div>

<ng-include src="'footer.html'"></ng-include>