<div class="dwd-orange-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="jumbotron" id="about-bg">
  
  <div class='jumbotron-text-bg mx-auto' id="jumbotron-about-text-bg">
    <p class='font-coiny about-line1'>ABOUT</p>
    <p class='font-pacifico about-line2'>Dawn</p>
  </div>

</div>

<!-- About Dawn Section -->
<div class="white-bg-row py-4">
  <div class="container">  

    <div class='row justify-content-center'>
      <p class='text-center col-sm-8 font-italic'>Dance with Dawn is a mobile dance teaching service, convenient to your location that is fun and educational with a focus on classes filled with joy and love.</p>
    </div>

    <div class="row pt-2">
  
      <div class="col-md-5 align-self-center">
        <img src="./img/about-photo-1.jpg" class="img-fluid rounded mb-2" alt="Group Photo with Dawn">
      </div>

      <div class="col-md-7 pl-md-5">
        <p>Dawn comes from a dancing family.  Her mother taught her time steps on the kitchen tile before even taking her first professional lessons!  Dawn’s love for all styles of dance was encouraged by her dance teachers while she began studying Cecchetti ballet technique with Ruth Hanf, a nationally recognized dance educator who produced her own dance teaching technique music and training materials.</p>

        <p>After being a model dance student, Dawn was asked to become an assistant instructor as a teenager. She knew right away that her happiest moments were inspiring children through the arts. While only a senior in high school, Dawn obtained an additional teaching position where she was trained in the Al Gilbert advanced tap dancing technique and the Gus Giordano jazz style.</p>

        <p>After moving to South Florida Dawn studied with Mia Michaels at her father’s studio, The Joe Michaels Dance Studio in Miami, FL. Mia’s music and inspirational style led Dawn to become the director of a successful dance program through Dade County Public Schools where she trained other dancers to become excellent instructors and reached out to over 200 families each school year.</p>
      </div>

    </div>
  </div>
</div>

<!-- Testomonial -->
<div class="grey-bg-row pt-5 pb-3">
  <div class="container">  
    <div class="row text-center justify-content-center">
    	<p class='col-sm-10'>I started my lifelong career of dance at the age of 4 with Miss Dawn and now she teaches my own daughter. She instilled a deeply rooted passion and appreciation for the arts which led me to dance with professional companies and now teach dance as a college professor.</p>
    	<p class='text-center font-italic'>Jessica Mayhew-Borrero, MFA Florida School of the Arts</p>
  	</div>
  </div>
</div>

<div class="white-bg-row py-4">
  <div class="container">  

    <div class="row">
  
      <div class="col-md-7 pl-md-5">
        <p>As the sole proprietor of her own dance studio, Dance Attitude, in the South Miami area her students have won awards at competitions, earned scholarships to prestigious dance programs and have gone on to have successful careers in the arts. Since closing her school Dawn has remained active in dance through running a travelling dance/gymnastics business and teaching for dance and theatre schools in North, South and Central Florida.</p>

        <p>Dawn became a USA gymnastics certified coach and enjoys teaching gymnastics and acrobatics through a developmental approach. While living in Jacksonville, Dawn was invited to become a part of an improvisational theatre troupe and performed with the ARC repertory dance company.</p>

        <p>You will find the students in Dawn’s classes full of joy and experiencing many opportunities to express themselves through music and movement. Her classes foster and “I Can Do It” attitude where all learners are encouraged for their efforts.</p>
      </div>

      <div class="col-md-5 align-self-center">
        <img src="./img/about-photo-2.jpg" class="img-fluid rounded mb-2" alt="Tiny Ballerinas">
      </div>

    </div>
  </div>
</div>

<div class="color-bg-row dwd-orange-bg pt-4">
  <div class="container text-center text-light">
    <h2>Free Demonstration Class</h2>
    <p>Contact me today to discuss how we can create a unique program specific for your school or group!</p>
    <form class="form-inline pb-4" action="">
      <div class='form-group my-3 mx-auto'>
        <input class="form-control" type="text" placeholder="Enter your email address">
        <button type="submit" class="btn btn-outline-light mt-2 mt-md-0 ml-0 ml-sm-2">Please send me information!</button>
      </div>
    </form>
  </div>
</div>

<ng-include src="'footer.html'"></ng-include>