<div class="grey-bg">

	<ng-include src="'navigation.html'"></ng-include>

	<div class="pt-3 mx-auto text-center">
		<div class="icon-bg-circle"><i class="fas fa-child user-icon"></i></div>
		<p class="user-page-headline">Add Child Information</p>
	</div>

	<div class='container' ng-if='currentUser'>
		<form ng-submit="addChild(currentUser._id, firstName, lastName, dob, notes)" class='col-md-9 mx-auto px-5 py-3 user-form'>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Child First Name</label>
					<input class="form-control" type="text" ng-model="firstName">
				</div>

				<div class="form-group col-md-6">
					<label>Child Last Name</label>
					<input class="form-control" type="text" ng-model="lastName">
				</div>
			</div>

			<div class="form-group">
				<label>Date of Birth (MM/DD/YYYY)</label>
				<input class="form-control" type="date" ng-model="dob">
			</div>

			<div class="form-group">
				<label>Notes (please include any medical conditions, allergies, or any additional information you would like me to know): </label>
				<textarea rows="4" class="form-control" type="text" ng-model="notes"></textarea>
			</div>

			<input class="btn btn-success btn-lg btn-block" type="submit" value="Add Child">
		</form>
	</div>

	<br><br><br><br>

</div>

