<ng-include src="'navigation.html'"></ng-include>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Add Child to Account</h1>
</div>

<div class='container' ng-if='currentUser'>
	<form ng-submit="addChild(currentUser._id, firstName, lastName, dob, notes)" class='w-50 mx-auto p-3'>

		<div class="form-group">
			<label>Child First Name</label>
			<input class="form-control" type="text" ng-model="firstName">
		</div>

		<div class="form-group">
			<label>Child Last Name</label>
			<input class="form-control" type="text" ng-model="lastName">
		</div>

		<div class="form-group">
			<label>Date of Birth (MM/DD/YYYY)</label>
			<input class="form-control" type="text" ng-model="dob">
		</div>

		<div class="form-group">
			<label>Notes (please include any medical conditions, allergies, or any additional information you would like me to know): </label>
			<textarea rows="4" class="form-control" type="text" ng-model="notes"></textarea>
		</div>

		<input class="btn btn-success btn-lg btn-block" type="submit" value="Add Child">
	</form>
</div>