<div class="dwd-red-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="jumbotron" id="classes-bg">
  
  <div class='jumbotron-text-bg mx-auto' id="jumbotron-classes-text-bg">
    <p class='font-coiny classes-line1'>CLASSES</p>
  </div>

</div>

<div class="white-bg-row pt-4 pb-2">
  <div class="container">

    <div class='row justify-content-center'>
      <p class='text-center col-sm-8 font-italic'>{{ about_page_desc }}</p>
    </div>

    <div class="row py-3">
      <div ng-repeat="class in classes" class="col-md-6">
          <div class="homepage-icon-bg-circle text-center {{ class.color }} mx-auto my-3"><i class="fas {{class.icon}} homepage-icon"></i></div>
          <h3 class="text-center font-coiny mb-0">{{ class.title }}</h3>
          <h5 class="text-center font-italic">{{ class.subtitle }}</h5>
          <p>{{ class.description }}</p>
      </div>
    </div>

  </div>
</div>

<!-- About Dawn Section -->
<div class="grey-bg-row py-5">
  <div class="container">  
    <div class="row">
  
      <div class="col-md-5 align-self-center">
        <img src="./img/classes-theater.jpg" class="img-fluid rounded mb-2" alt="Creative Theater Class">
      </div>

      <div class="col-md-7 pl-md-5">
        <h2 class="font-coiny mb-1">Creative Theater Class</h2>
        <p>{{ ctc_p1 }}</p>
        <p>{{ ctc_p2 }}</p>
      </div>

    </div>
  </div>
</div>

<div class="color-bg-row dwd-red-bg pt-4">
  <div class="container text-center text-light">
    <h2>Free Demonstration Class</h2>
    <p>Contact me today to discuss how we can create a unique program specific for your school or group!</p>
    <form class="form-inline pb-4" action="">
      <div class='form-group my-3 mx-auto'>
        <input class="form-control" type="text" placeholder="Enter your email address">
        <button type="submit" class="btn btn-outline-light mt-2 mt-md-0 ml-0 ml-sm-2">Please send me information!</button>
      </div>
    </form>
  </div>
</div>

<ng-include src="'footer.html'"></ng-include>
