<div class="footer">
	<div class='container py-4'>
		<div class='row'>
			<div class="col-md-4 text-center text-md-right align-self-center">
				For questions, please contact me at:
			</div>

			<div class="col-md-4 text-center py-2">
				<i class="fas fa-envelope contact-icon"></i><br>
				dawn@dancewithdawn.com
			</div>

			<div class="col-md-4 text-center py-2">
				<i class="fas fa-phone contact-icon"></i><br>
				(352) 225-8960
			</div>
		</div>
	</div>
</div>

<p class="copyright"> &copy; 2019 Dawn Randall, Dance with Dawn</p>