<div class="dwd-purple-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="jumbotron" id="homepage-bg">
  
  <div class='jumbotron-text-bg mx-auto' id="jumbotron-homepage-text-bg">
    <p class='font-coiny home-line1'>DANCE</p>
    <p class='font-pacifico home-line2'>with Dawn</p>
  </div>

</div>


<!-- Three columns of text below the main image -->
<div class="white-bg-row pt-4 pb-2">
  <div class="container">

    <div class='row justify-content-center'>
      <p class='text-center col-sm-8 font-italic'>{{ home_page_desc }}</p>
    </div>

    <div class="row py-3">
      <div ng-repeat="bucket in buckets" class="col-md-4">
          <div class="homepage-icon-bg-circle text-center {{ bucket.color }} mx-auto my-3"><i class="fas {{bucket.icon}} homepage-icon"></i></div>
          <h2 class="text-center font-coiny">{{ bucket.title }}</h2>
          <p>{{ bucket.description }}</p>
      </div>
    </div>

    <div class="row">
      <a class="btn dwd-purple-bg text-light p-2 mt-3 mb-4 mx-auto col-10 col-md-6" href="/classes">Learn More About Available Classes</a>
    </div>  

  </div>
</div>

<!-- About Dawn Section -->
<div class="grey-bg-row py-5">
  <div class="container">  
    <div class="row">
  
      <div class="col-md-5">
        <img src="./img/homepage-about-dawn.jpg" class="img-fluid rounded mb-2" alt="About Dawn Randall">
      </div>

      <div class="col-md-7 pl-md-5 align-self-center">
        <h2 class="font-pacifico mb-1">About Dawn</h2>
        <p>I’ve been teaching children all my life, and being a child's first teacher in dance and movement is my greatest blessing. I strive to foster an "I Can Do It" atmosphere for all learners. Sharing the joy of music and movement helps me to teach children the important lesson to love themselves and others.</p>
        <a class="btn dwd-purple-bg text-light py-2 px-4 mt-2" href="/about">Learn More About Dawn</a>
      </div>

    </div>
  </div>
</div>

<!-- Online Account Section -->
<div class="white-bg-row py-5">
  <div class="container">  
    <div class="row">
  
      <div class="col-md-7">
        <h2 class="font-coiny">Online Accounts</h2>
        <p>To make it easier to coordinate between myself and the parents or guardians of children in my class, participants can create user accounts to provide up-to-date contact information, pay for classes online, view photos from class, and much more!</p>

        <a class="btn dwd-purple-bg text-light py-2 px-4 mt-2 mr-3" href="/register">Register</a>

        <a class="btn dwd-purple-bg text-light py-2 px-4 mt-2" href="/login">Log In</a>
      </div>

      <div class="col-md-5">
        <ul class="list-group parental-accounts">
          <li class="list-group-item">
            <div class="pa-icon-bg-circle dwd-orange-bg"><i class="far fa-address-book pa-icon"></i></div>
            Manage Contact Information
          </li>

          <li class="list-group-item">
            <div class="pa-icon-bg-circle dwd-blue-bg"><i class="fas fa-credit-card pa-icon"></i></div>
            Easy Online Payments
          </li>
          
          <li class="list-group-item">
            <div class="pa-icon-bg-circle dwd-green-bg"><i class="fas fa-camera-retro pa-icon"></i></div>
            Securely View Class Photos
          </li>
        </ul>
      </div>
    
    </div>
  </div>
</div>

<!-- Email Contact Form -->
<div class="color-bg-row dwd-purple-bg pt-4">
  <div class="container text-center text-light">
    <h2>Free Demonstration Class</h2>
    <p>Contact me today to discuss how we can create a unique program specific for your school or group!</p>
    <form class="form-inline pb-4" action="">
      <div class='form-group my-3 mx-auto'>
        <input class="form-control" type="text" placeholder="Enter your email address">
        <button type="submit" class="btn btn-outline-light mt-2 mt-md-0 ml-0 ml-sm-2">Please send me information!</button>
      </div>
    </form>
  </div>
</div>

<ng-include src="'footer.html'"></ng-include>
