<div class="dwd-dk-gray-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>


	<div class="mt-4 mx-auto text-center">
		<div class="icon-bg-circle"><i class="fas fa-user user-icon"></i></div>
		<p class="user-page-headline">Account Log In</p>
	</div>

	<div class='container'>
		<form ng-submit="login(username, password)" class='col col-md-6 mx-auto px-5 py-3 user-form' name='user-login'>

			<div ng-show="loginError" class='alert alert-danger'>{{ errorMessage }}</div>

			<div class="form-group">
				<label class='mb-1'>Email Address</label>
				<input class="form-control" type="email" ng-model="username" required />
			</div>

			<div class="form-group">
				<label class='mb-1'>Password</label>
				<input class="form-control" type="password" ng-model="password" required />
			</div>
		
			<input class="btn btn-primary btn-lg btn-block mt-3" type="submit" value="Login">
		</form>
	</div>

	<div class='container my-5'>
		<div class='row'>
			<div class='col-12 col-md-6 text-center'>
				<div class="icon-bg-circle text-center mx-auto"><i class="fas fa-user-plus user-icon"></i></div>
				<p class='user-page-headline'>Don't have an account?</h4>
				<a class="btn btn-outline-primary btn-block p-2 mt-2 w-50 mx-auto" href="/register">Register Now</a>
			</div>

			<div class='col-12 col-md-6 mt-3 mt-md-0 text-center'>
				<div class="icon-bg-circle text-center mx-auto"><i class="fas fa-question user-icon"></i></div>
				<p class='user-page-headline'>Forgot your password?</h4>
				<a class="btn btn-outline-secondary btn-block p-2 mt-2 w-50 mx-auto inactive" href="/reset-password">Reset Password</a>
			</div>
		</div>
	</div>

<ng-include src="'footer.html'"></ng-include>