<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-dark" href="/">Dance With Dawn</a></h5>
  	<nav class="my-2 my-md-0 mr-md-3">
   		<a class="p-2 text-dark" href="/#/classes">Classes</a>
    	<a class="p-2 text-dark" href="/#/about">About</a>
    	<a class="p-2 text-dark" href="/#/faq">FAQ</a>
  	</nav>
  	<a class="btn btn-outline-primary" href="/#/login" ng-hide="currentUser">Log In</a>
  	<button class="btn btn-outline-primary" ng-click='logout()' ng-show="currentUser">Log Out</button>
</div>

<div ng-if='currentUser' class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark">
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-light" href="/#/user-account">Account</a>
    	<a class="p-2 text-light" href="/#/user-classes">Classes</a>
    	<a class="p-2 text-light" href="/#/user-photos">Photos</a>
    	<a class="p-2 text-light" href="/#/user-payments">Payments</a>
    	<a class="p-2 text-light" href="/#/user-forms">Forms</a>
  	</nav>
</div>

<div class='container'>
	<h1>OLD POSTS PAGE</h1>

	<form role='form' ng-show="currentUser">
		<div class='form-group'>
			<div class='input-group'>
				<input ng-model='postBody' class='form-control' />
				<span class='input-group-btn'>
					<button ng-click='addPost()' class='btn btn-default'>Add Post</button>
				</span>
			</div>
		</div>
	</form>

	<ul class='list-group'>
		<li ng-repeat="post in posts | orderBy: '-date'" class='list-group-item'>
			<strong>@{{ post.username }}</strong>
			<span>{{ post.body }}</span>
		</li>
	</ul>
</div>


<!--
<p ng-if='currentUser' class="navbar-text navbar-right">
				Signed in as {{currentUser.username}}   
				<button ng-click='logout()'>log out</button>
			</p>
-->