<ng-include src="'navigation.html'"></ng-include>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h2 class="display-4">Update Account Password</h2>
</div>

<div class='container' ng-if='currentUser'>
	<form ng-submit="updatePassword(currentUser._id, pass1, pass2)" class='w-50 mx-auto p-3'>

		<div ng-show="passwordsMatch" class='alert alert-danger'>New Passwords must be the same</div>

		<div class="form-group">
			<label>New Password</label>
			<input class="form-control" type="password" ng-model="pass1">
		</div>

		<div class="form-group">
			<label>Re-enter New Password</label>
			<input class="form-control" type="password" ng-model="pass2">
		</div>

		<input class="btn btn-success btn-lg btn-block" type="submit" value="Change Password">
	</form>

</div>