<div class="user-footer">
	<div class='container py-3'>
		<div class='row'>
			<div class="col-md-4 text-sm-center text-md-right intro-text py-2">
				If you have any questions, please don't hesitate to contact me:
			</div>

			<div class="col-md-4 text-center py-2">
				<i class="fas fa-envelope contact-icon"></i><br>
				dawn@dancewithdawn.com
			</div>

			<div class="col-md-4 text-center py-2">
				<i class="fas fa-phone contact-icon"></i><br>
				(352) 225-8960
			</div>
		</div>
	</div>
</div>

<p class="copyright"> &copy; 2019 Dance with Dawn</p>