<ng-include src="'navigation.html'"></ng-include>
	
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">User Account</h1>
</div>

<div class='container' ng-if='currentUser'>
	<h2>Contact Information</h2>
	<p><span class='font-weight-bold'>Parent/Guardian Name</span><br>{{currentUser.firstName}} {{currentUser.lastName}}</p>
	<p><span class='font-weight-bold'>Address</span><br>{{currentUser.streetAddress}}, {{currentUser.city}}, {{currentUser.state}} {{currentUser.zip}}</p>
	<p><span class='font-weight-bold'>Email</span><br>{{currentUser.email}}</p>
	<p><span class='font-weight-bold'>Phone</span><br>{{currentUser.phone}}</p>

	<a class='btn btn-primary' href="">Edit Contact Info</a>
	&nbsp; &nbsp; &nbsp;
	<a class='btn btn-primary' href="">Change Password</a>
	&nbsp; &nbsp; &nbsp;
	<a class='btn btn-primary' href="">Add Child</a>

</div>