<div class="dwd-dk-gray-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="mt-4 mx-auto text-center">
	<div class="icon-bg-circle"><i class="far fa-credit-card user-icon"></i></div>
	<p class="user-page-headline">Payments</p>
</div>

<div class='container mb-3' ng-if='currentUser'>
	<div class='row justify-content-center'>
		<div class='col-md-8'>
			<div class='container child-container py-2 my-3'>
				<p>Payments for classes will be handled online by Square via credit card. When payment is due, you will receive an invoice by email to the address used for your account.</p>
				<p>If you would like to arrange payment by a different method, please contact me directly.</p>
			</div>
		</div>
	</div>
</div>

<ng-include src="'footer.html'"></ng-include>