<div class="dwd-dk-gray-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="mt-4 mx-auto text-center">
	<div class="icon-bg-circle"><i class="far fa-copy user-icon"></i></div>
	<p class="user-page-headline">Forms</p>
</div>

<!-- Add Photo Release Link-->
<div class='container mb-3 w-75' ng-if='currentUser'>
	<a href="#" target="_blank" class="btn btn-primary block mx-auto my-3 px-4 py-2">Download Liability Form</a>
</div>

<div class='container mb-3 w-75' ng-if='currentUser'>
	<a href="#" target="_blank" class="btn btn-primary block mx-auto my-3 px-4 py-2">Download Photo Release</a>
</div>

<div class='container mb-3 w-75' ng-if='currentUser'>
	<p  class="text-center font-italic mx-auto my-3 px-4 py-2">Please Print These Forms To Turn In During Your Child's First Class</p>
</div>

<ng-include src="'footer.html'"></ng-include>
