<div class="dwd-dk-gray-bg">
  <ng-include src="'navigation.html'"></ng-include>
</div>

<div class="mt-4 mx-auto text-center">
	<div class="icon-bg-circle"><i class="far fa-copy user-icon"></i></div>
	<p class="user-page-headline">Forms</p>
</div>

<div class='container mb-3' ng-if='currentUser'>
	<div class='row justify-content-center'>
		<div class='col-md-10'>
			<div class='container child-container py-2 my-3 text-center'>
				<p>Please print and fill out these forms prior to your child's first class:</p>
			
			<div class='row'>
				<a href="./pdf/waiver.pdf" target="_blank" class="col-10 col-md-5 btn block mx-auto my-3 py-2 dwd-blue-bg text-light">Download<br>Waiver Form</a>
				<a href="./pdf/photo_release.pdf" target="_blank" class="col-10 col-md-5 btn block mx-auto my-3 py-2 dwd-blue-bg text-light">Download<br>Photo Release Form</a>
			</div>
			</div>
		</div>
	</div>
</div>

<ng-include src="'footer.html'"></ng-include>
